
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body style="margin:20px">
    <div>
        <h1>Oh no, something went wrong!</h1>
        <h2>Let's go back and try again.</h2>

        <input type="submit" value="Return Home" class="btn-primary"
               onclick="window.location='/Home/Index';" />
    </div>
</body>
</html>
